services:
  api:
    build: 
      context: go-api
    command: air
    ports:
      - 8080:8080
  
  ui:
    build: 
      context: react-frontend
    ports:
      - 3000:3000
    command: npm start
